{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
<!--        <script src="{% static 'network/home.js' %}"></script>-->
        <script>

            document.addEventListener("DOMContentLoaded", () => {
                document.querySelector('#next').onclick = () => {
                changePage("next")
                }

                document.querySelector('#previous').onclick = () => {
                changePage("prev")
                }
            })

            async function Save(elem, postNum) {
                let content = elem.value

                let saved = await fetch("/edit", {
                    method: "PUT",
                    body: JSON.stringify({
                        content:content,
                        postNum:postNum
                    })
                })

                let div = elem.parentElement
                const newContent = document.createElement('h6')
                newContent.innerHTML = content
                div.insertBefore(newContent, elem)
                div.removeChild(div.childNodes[2])
                div.removeChild(div.childNodes[4])

                const edit = document.createElement('button')
                    edit.innerHTML = "Edit"
                    edit.id = "edit"
                    edit.className = "btn btn-secondary"
                    div.append(edit)
                    edit.onclick = () => editPost(edit)
            }

            function editPost(elem) {
                // Replace existing content node with textarea
                // Replace Edit button with Save button

                let div = elem.parentElement
                let content = div.childNodes[1].innerHTML
                const edits = document.createElement('textarea')
                const save = document.createElement('button')
                save.innerHTML = "Save"
                save.className = "btn btn-secondary"
                save.onclick = () => {
                    Save(edits, div.dataset.postNum)
                }
                edits.innerHTML = content
                div.insertBefore(edits, div.childNodes[1])
                div.removeChild(div.childNodes[2])
                div.removeChild(div.childNodes[4])
                div.append(save)
            }

            async function likePost(elem) {
                let post = await fetch('/like', {
                    method: "PUT",
                    body: JSON.stringify({
                        like: elem.dataset.state,
                        postNum: elem.parentElement.parentElement.dataset.postNum
                    })
                })

                let num = parseInt(elem.parentElement.childNodes[0].innerHTML.split(":")[1])
                console.log(num)

                if (elem.dataset.state == "true") {
                    elem.dataset.state = "false"
                    elem.innerHTML = "Unlike"
                    elem.className = "btn btn-danger"
                    elem.parentElement.childNodes[0].innerHTML = `Likes: ${num+1}`
                } else {
                    elem.dataset.state = "true"
                    elem.innerHTML = "Like"
                    elem.className = "btn btn-primary"
                    elem.parentElement.childNodes[0].innerHTML = `Likes: ${num-1}`
                }
            }

            async function loadPost(mode, page) {
                if (mode == "all") {
                var posts = await fetch(`/posts?page=${page}`)
                .then(response => response.json())

                } else {
                var posts = await fetch(`/posts/${mode}?page=${page}`)
                .then(response => response.json())
                }

                posts.forEach(function(post) {
                console.log(post)

                const div = document.createElement('div')
                const content = document.createElement('h6')
                const poster = document.createElement('h5')
                const likes = document.createElement('h6')
                const likeDiv = document.createElement('div')
                const postTime = document.createElement('h6')

                content.innerHTML = `${post.content}`
                poster.innerHTML = `${post.poster}`
                likes.innerHTML = `Likes: ${post.likes}`
                postTime.innerHTML = `Time: ${post.postTime}`

                likeDiv.style = "display: flex; align-items: center;"
                likeDiv.append(likes)
                div.dataset.postNum = `${post.postNum}`

                // Create likeButton
                const likeButton = document.createElement('button')
                if (post.liked == true) {
                    likeButton.innerHTML = "Unlike"
                    likeButton.className = "btn btn-danger"
                    likeButton.dataset.state = false
                } else {
                    likeButton.innerHTML = "Like"
                    likeButton.className = "btn btn-primary"
                    likeButton.dataset.state = true
                }
                likeButton.onclick = () => likePost(likeButton)
                likeDiv.append(likeButton)

                div.append(poster)
                div.append(content)
                div.append(likeDiv)
                div.append(postTime)

                // Create Edit button if user has permission to edit
                if ( "{{ user }}" == post.poster) {
                    const edit = document.createElement('button')
                    edit.innerHTML = "Edit"
                    edit.className = "btn btn-secondary"
                    edit.id = "edit"
                    div.append(edit)
                    edit.onclick = () => editPost(edit)
                }

                document.querySelector("#posts").append(div)
                })
            }

            async function Follow(profile) {
                // profile is person to be followed, current user is following
                // mode determines whether to follow (true) or unfollow (false)

                var mode = document.querySelector("#follow").dataset.state

                let follow = await fetch("/follow", {
                    method: "PUT",
                    body: JSON.stringify({
                    following: profile,
                    follow: mode
                    })
                })

                if (mode == "true") {
                document.querySelector("#follow").dataset.state = "false"
                document.querySelector("#follow").innerHTML = "Unfollow"
                } else {
                document.querySelector("#follow").dataset.state = "true"
                document.querySelector("#follow").innerHTML = "Follow"
                }
            }

            function changePage(mode) {
                document.querySelector('#posts').innerHTML = ''
                let page = document.querySelector('#page')
                let num = parseInt(page.innerHTML)

                if (mode == "next") {
                num = num + 1
                } else if (num > 0) {
                num = num - 1
                }
                page.innerHTML = num
                loadPost(window.loadMode, num)
            }

        </script>

        {% block head %}
        {% endblock %}

    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' user.username %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'following' %}">Following</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'new' %}">New Post</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        <div id="pages" style="display:flex; justify-content:center" class="body">
            <button id="previous" class="btn btn-primary">Prev</button>
            <button id="page" class="btn btn-light">1</button>
            <button id="next" class="btn btn-primary">Next</button>
        </div>
    </body>
</html>